@media screen and (max-width: 773px) {
  .breaking-news-page {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .breaking-news-icon {
    width: 18%;
    height: auto;
    max-width: 100px;
  }
}
